<router-outlet></router-outlet>
<!--<ion-tabs>-->
<!--<ion-tab tabTitle="Home1" tabIcon="home">123</ion-tab>-->
<!--</ion-tabs>-->

<div class="tabs tabs-md" tabsplacement="bottom" tabslayout="icon-top" tabshighlight="false">
    <div class="tabbar show-tabbar" role="tablist" style="bottom: 0px;">
        <a class="m-tab-button has-title has-icon" href="#/tabs/home">
            <ion-icon class="tab-button-icon icon icon-md ion-md-home" role="img" aria-label="home"></ion-icon>
            <span class="tab-button-text">Home</span>
        </a>
        <a class="m-tab-button has-title has-icon" href="#/tabs/game">
            <ion-icon class="tab-button-icon icon icon-md ion-md-home" role="img" aria-label="home"></ion-icon>
            <span class="tab-button-text">Game</span>
        </a>
        <a class="m-tab-button has-title has-icon" href="#/tabs/game1">
            <ion-icon class="tab-button-icon icon icon-md ion-md-home" role="img" aria-label="home"></ion-icon>
            <span class="tab-button-text">Game1</span>
        </a>
        <a class="m-tab-button has-title has-icon" href="#/test">
            <ion-icon class="tab-button-icon icon icon-md ion-md-home" role="img" aria-label="home"></ion-icon>
            <span class="tab-button-text">Test</span>
        </a>
        <div class="tab-highlight"></div>
    </div>
    <div tab-portal=""></div>
</div>